.DS_Store

node_modules/

**/git/gitconfig.link

**/fish/fish_history
**/fish/fishd*

**/config.link/configstore/*

**/atom.link/.atom
**/atom.link/.gitignore
**/atom.link/.node-gyp/*
**/atom.link/.storage/*
**/atom.link/packages/*
**/atom.link/compile-cache/*
**/atom.link/storage/*
**/atom.link/themes/*